<div class="row justify-content-center">
    <div class="col-8 mt-4">
        <h4>Voyages</h4>
        <div style="position: relative;">
            <form  #f="ngForm"
            (ngSubmit)="onSearch(f.value)">
                <div class="form-group">
                <input type=text ngModel name="keyword" >
                <button class="btn btn-primary"> 
                    <span class="fas fa-search"></span>
                </button>
            </div>
            </form>
        
        <div class="text-right">
            <button type="button"
                    class="btn btn-success"
                    [routerLink]="['/product/add']">Ajouter une Offre <i class="fas fa-plus"></i></button>
        </div>
    </div>
        <div class="row">

            <div class="col-lg-4 col-md-6 mt-3"
                 *ngFor="let product of products$ | async">
                <div class="card">
                    
                    <div class="card-body">
                        <h6 class="card-title">{{product.name}}</h6>
                        <p class="card-text">Destination {{product.price}}</p>
                        <p class="card-text">Date {{product.quantity}}</p>
                    </div>
                    <div class="text-center mb-1">
                        <div class="btn-group"
                             role="group"
                             aria-label="Basic example">
                            <button type="button"
                                    class="btn btn-info"
                                    [routerLink]="['/product/get', product.id]"><i class="fas fa-search"></i></button>
                            <button type="button"
                                    class="btn btn-warning"
                                    [routerLink]="['/product/edit', product.id]"><i class="fas fa-edit"></i></button>
                            <button type="button"
                                    class="btn btn-danger"
                                    (click)="deleteProduct(product.id)"><i class="fas fa-trash"></i></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>